{
  "src": [
    "src"
  ],
  "include": [
    "src"
  ],
  "extends": [
    "babel-plugin-istanbul",
    "@istanbuljs/nyc-config-typescript"
  ],
  "extension": [
    ".ts",
    ".svelte"
  ],
  "all": true,
  "check-coverage": true,
  "reporter": [
    "lcov"
  ],
  "report-dir": "./tests/coverage"
}